body{
	background: #f4f4f4;
}
.landingBar{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	background: #ffb109;
	z-index: 99999;
}
.ivm-banner{
	background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
	background-image: url(../img/ivmbanner.png);
	width: 100%;
	max-height: 698px;
	position: relative;
}
	
.ivm-banner-contaienr{
	position: absolute;
	text-align: left;
	line-height: 40px;
	top: 30%;
	left: 7%;
}
.ivm-banner-contaienr h1{
	font-size: 5.5rem;
	font-weight: bold;
}
.ivm-banner-contaienr div{
	font-size: 2.6rem;
	margin: 16px 0 ;
}
.ivm-banner-contaienr div span{
	color: #0368f4;
	font-weight: bold;
}
.ivm-banner-contaienr a{
	display: block;
	width: 200px;
	height: 50px;
	border-radius: 31px;
	font-size: 2rem;
	text-align: center;
	line-height: 50px;
	color: #000;
	text-decoration: none;
	background: #ffb109;
}
.ivm-plan{
	text-align: center;
	padding: 50px 0;
}
.ivm-plan-title{
	font-size: 30px;
}
.ivm-plan-info{
	font-size: 16px;
	color: #5b5b5b;
	margin: 20px 0;
}
.ivm-plan-list{
	display: flex;
	font-size: 14px;
	color: #5b5b5b;
	padding: 50px 150px 0;
}
.ivm-plan-list div{
	flex: 1;
}
.ivm-plan-list img{
	display: block;
	margin: 0 auto 20px;
	width: 88px;
	height: 88px;
}

.ivm-object{
	background: #fff;
	padding: 80px 0 100px ;
	text-align: center;
}
.ivm-object-title{
	font-size: 30px;
}
.ivm-object-list{
	margin: 60px 0 0;
	display: flex;
}
.ivm-object-flex1{
	flex: 1;
	min-width: 256px;
}
.ivm-object-item{
	margin: 0 auto;
	width: 250px;
	height: 180px;
	overflow: hidden;
}
.ivm-object-item-title{
	line-height: 50px;
	color: #fff;
	border-radius: 10px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.ivm-object01{
	background: -webkit-linear-gradient(left, #1d84ff , #1dccff); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #1d84ff , #1dccff); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #1d84ff , #1dccff); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #1d84ff , #1dccff); /* 标准的语法 */
}
.ivm-object02{
	background: -webkit-linear-gradient(left, #ffab09 , #ffdf09); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #ffab09 , #ffdf09); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #ffab09 , #ffdf09); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #ffab09 , #ffdf09); /* 标准的语法 */
}
.ivm-object03{
	background: -webkit-linear-gradient(left, #862ffc , #b178ff); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #862ffc , #b178ff); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #862ffc , #b178ff); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #862ffc , #b178ff); /* 标准的语法 */
}
.ivm-object04{
	background: -webkit-linear-gradient(left, #00d4b9 , #18ffa0); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #00d4b9 , #18ffa0); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #00d4b9 , #18ffa0); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #00d4b9 , #18ffa0); /* 标准的语法 */
}
.ivm-object-item-content{
	padding: 20px;
	font-size: 14px;
	color: #5b5b5b;
	height: 130px;
	border: 1px solid #dcdcdc;
	border-top: 0;
	border-radius: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.ivm-object-list img{
	display: block;
	margin: 0 auto 18px;
}


.ivm-process{
	background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
	background-image: url(../img/liucheng.png);
	width: 100%;
	max-height: 415px;
	position: relative;
	text-align: center;
	color: #fff;
	font-size: 14px;
}
.ivm-process-title{
	font-size: 30px;
}
.ivm-process-list{
	/* display: flex; */
	margin: 50px auto 0;
	width: 950px;
	position: relative;
}
.ivm-process-list:before{
	content: '';
	position: absolute;
	top: 55px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #65a4fb;
}
.ivm-process-list:after{
	content: "."; 
	display: block; 
	height: 0; 
	visibility: hidden; 
	clear: both;
}
.ivm-process-item{
	/* flex: 1; */
	float: left;
	margin-left: 170px;
	position: relative;
	z-index: 1;
}
.ivm-process-item:first-child{
	margin: 0;
}
.ivm-process-item img{
	display: block;
	margin: 0 auto 20px;
}

.ivm-man{
	padding: 80px 0;
	text-align: center;
	font-size: 30px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 100%;
	background-image: url(../img/zixundianhua.png);
	width: 100%;
	max-height: 309px;
	position: relative;
}
.ivm-man a{
	width: 220px;
	height: 60px;
	line-height: 60px;
	font-size: 26px;
	background: #ffb109;
	border-radius: 31px;
	display: block;
	margin: 40px auto 0;
	text-decoration: none;
	color: #000000;
}